{{#each posts as |post|}}

  <a href="posts/{{post.id}}" class="post">
    <article class="postTitle">
      <header><h2>{{post.title}}</h2> Posted by {{post.user.userName}} on {{format_date post.date_created}}</header>
      <main>
        {{post.content}}
      </main>
    </article>
  </a>

{{/each}}

<script src="/js/script.js"></script>